<div class="simple-text">
    <p>
        Homer Jay Simpson, personagem central da série, é o pai da família Simpson formada por sua esposa Marge e os filhos Bart, Lisa e Maggie. “Marge” é mais conhecida por seus cabelos azuis e seu penteado extravagante.
    </p>
    <p>
        É muito paciente, mesmo Homer aprontando inúmeras confusões. Marge tem 38 anos e é filha de Clancy Bouvier e Jackie Bauvier. Depois que Homer e Marge estavam namorando há alguns anos, Marge descobriu que estava grávida. Pouco depois se casam em uma pequena capela.
    </p>
    <p>
        “Bart”, seu primeiro filho, tem uma relação difícil com o pai, que vive ameaçando estrangulá-lo. Bart geralmente leva vantagem na estupidez de Homer, que nunca apoiou Bart em suas partidas de futebol.
    </p>
    <p>
        Por causa de sua relação atribulada, Bart chama o pai de Homer, principalmente para tirar sarro dele. Apesar das diferenças, Homer e Bart compartilham o mesmo senso de humor e espírito de aventuras, que já os levou a atravessar o país de caminhão.
    </p>
    <p>
        “Lisa” é sua segunda filha e a preferida, fato revelado no episódio, “Taat 90s Show”, quando ele a decepciona e tenta agradá-la. Ele não gosta de ir às apresentações do balé da filha e se irrita com sua dedicação à música e o barulho do saxofone tocado pela filha.
    </p>
    <p>
        Homer tentou ser um bom pai e desistiu de comprar um ar condicionado para adquirir um saxofone para Lisa.
    </p>
    “Maggie” nasceu de uma gravidez não planejada. Nessa época, Homer teve que deixar seu emprego dos sonhos na pista de boliche para retornar à usina nuclear e ganhar dinheiro suficiente para manter sua família.
  
</div>  