<mat-toolbar color="primary" class="toolbar">
  <section class="button-container">
      <div class="button-div">
        <button mat-button routerLink="/blog">Blog</button>
        <button mat-button routerLink="/about">Sobre</button>
        <button mat-button routerLink="/description">Descrição</button>
      </div>
    </section>
</mat-toolbar>

<app-home></app-home>

<router-outlet></router-outlet>
