<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <mat-list>
            <div mat-subheader class="last-news-title">Últimas do blog</div>
            <mat-list-item *ngFor="let item of news">
              <mat-icon mat-list-icon>library_books</mat-icon>
              <div mat-line><a href={{item.link}} target="_blank">{{item.title}}</a></div>
              <div mat-line> {{item.content}} </div>
            </mat-list-item>
          </mat-list>
    </div>
    
</div>
