/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.simple-text {
    padding: 2%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace
}

footer {
    background-color: #3f51b5;
    color: #fff;
    padding: 2%;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}