.image-title {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 50%;
}

.grid-title {
    background-color: #3f51b5;
    color: #fff;
    padding: 2%;
}

.name-title {
    font-size: 5em;
    font-weight: 500;
    padding: 10px;
}