<div class="row grid-title">
    <div class="col-4 text-center">
        <img class="image-title" src="https://i.pinimg.com/originals/bd/19/2f/bd192f2723f7d81013f04903d9e0428b.png" />
    </div>
    <div class="col text-left">
        <h1 class="name-title">Homer Simpson</h1>
        <div>
            <p>
                Homer é um personagem fictício da série animada norte-americana, “Os Simpsons”, criada pelo desenhista Mall Groening e exibida pela primeira vez em 19 de abril de 1987. Com diversas temporadas e centenas de episódios é a série animada da TV com mais tempo no ar.

                <br/>Seus traços mais comuns de personalidade são a estupidez, a preguiça, o egoísmo, tem baixo nível de inteligência e está sempre envolvido em algum problema pela sua irresponsabilidade ou por atitudes infantis e imaturas.
            </p>
            
            <br/>No bar, Homer está sempre consumindo grande quantidade de álcool, com seus amigos, Carl, Lenny e Barney. Habitualmente ele se veste com uma calça azul e uma camisa branca. Quando vai ao trabalho, usa uma gravata listada em duas tonalidades de rosa.

            <br/>Homer nasceu em Springfield (mas sempre diz que nasceu em Connecticut). Filho único de Abraham e de Mona J. Simpson foi criado em uma fazenda na área rural de Springfield. Com 10 anos conheceu Marge, sua primeira paixão.

            <br/>Estudou na Springfield Hight School, onde em seu último ano da escola, voltou a se aproximar de Marge e tentou confessar o seu amor, começando assim a história da família.
        </div>    
    </div>
</div>